arraylake>=0.22
av
cartopy
cftime
coiled
dask[complete]
datasets
distributed
flox
fsspec
gcsfs
geopandas
h5netcdf
h5py
icechunk>=1.1.1
ipykernel
ipyleaflet
jq
jupyter
jupyterlab
matplotlib
meteostat
nc-time-axis
netcdf4
notebook
numcodecs>=0.16.2
# numbagg
numpy
obstore
opencv-python
pandas
pooch
pydap
rasterio
rasterix
requests
rioxarray
s3fs
scipy
seaborn
tensorstore
tqdm
xarray>=2025.7.1
xradar
xvec
zarr>=3.1
